.top-nav-bar {
    background-color: #cccccc;
}

.menu-dropdown {
    display: inline-block;
}

.menu-dropdown-content{
    display: none;
}

.menu-dropdown-content a {
    display: block;
}

.menu-dropdown-content a:hover{
    background-color: red;
}

.menu-dropdown:hover .menu-dropdown-content{
    display: contents;
}

.menu-dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.fa-bars {
    text-decoration: none;
    color: black;
}

.footer-bar {
    background-color: #cccccc;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

.social-media p {
    margin-bottom: 3px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-brands {
    text-decoration: none;
    color: black;
}